<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <ul class="list-group">
        <li *ngFor="let event of events" class="list-group-item" [ngClass]="{'active': isSelected(event)}"
          (click)="setActiveEvent(event)">{{toString(event)}}</li>
      </ul>
    </div>
    <div class="col-lg-6">
      <app-reusable-form [activeEvent]="selectedEvent"></app-reusable-form>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-lg-12">
      <mwl-calendar-day-view [viewDate]="viewDate" [events]="events"></mwl-calendar-day-view>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>